<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g9.letsmoveapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestWeatherActivity"></activity>
        <activity
            android:name=".ViajesActuales"
            android:label="Viajes Actuales"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViajesAnteriores"
            android:label="Viajes Anteriores"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GastosViajes"
            android:label="Gastos de tus viajes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MisCoches"
            android:label="MisCoches"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NuevoCoche"
            android:label="NuevoCoche"
            android:parentActivityName=".MisCoches" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>